<section class="background-radial-gradient overflow-auto">
  <div class="container px-4 py-5 px-md-5 text-center text-lg-start my-5">
    <div class="row gx-lg-5 align-items-center mb-5">
      <div class="col-lg-6 mb-5 mb-lg-0">
        <h1 class="my-5 display-5 fw-bold ls-tight text-light">
          Regístrate para formar parte de<br />
          <span>Asociacion de Estanqueros de Sevilla</span>
        </h1>
      </div>

      <div class="col-lg-6 mb-5 mb-lg-0 position-relative">
        <div id="radius-shape-1" class="position-absolute rounded-circle shadow-5-strong"></div>
        <div id="radius-shape-2" class="position-absolute shadow-5-strong"></div>

        <div id="formularioInicio" class="card bg-glass">
          <div class="card-body px-4 py-5 px-md-5">
            <form [formGroup]="registroForm" (ngSubmit)="registrarNuevoSocio()">
              <!-- Nombre -->
              <div class="mb-4">
                <label class="form-label text-dark" for="nombre">Nombre</label>
                <input type="text" id="nombre" formControlName="nombre" class="form-control" required />
              </div>

              <!-- Apellidos -->
              <div class="mb-4">
                <label class="form-label text-dark" for="apellidos">Apellidos</label>
                <input type="text" id="apellidos" formControlName="apellidos" class="form-control" required />
              </div>

              <!-- DNI -->
              <div class="mb-4">
                <label class="form-label text-dark" for="dni">DNI</label>
                <input type="text" id="dni" formControlName="dni" class="form-control" required />
              </div>

              <!-- Teléfono -->
              <div class="mb-4">
                <label class="form-label text-dark" for="telefono">Teléfono</label>
                <input type="text" id="telefono" formControlName="telefono" class="form-control" required />
              </div>

              <!-- Email -->
              <div class="mb-4">
                <label class="form-label text-dark" for="email">Email</label>
                <input type="email" id="email" formControlName="email" class="form-control" required />
              </div>

              <div class="mb-4">
                <label class="form-label text-dark" for="estanco">Nº Estanco</label>
                <input type="text" id="estanco" formControlName="estanco" class="form-control" required />
              </div>

              <div *ngIf="estancoExiste" class="alert alert-danger">
                El numero de estanco ya esta registrado.Por favor, introduce un numero de estanco valido
              </div>
              <!-- Contraseña -->
              <div class="mb-4">
                <label class="form-label text-dark" for="password">Contraseña</label>
                <input type="password" id="password" formControlName="password" class="form-control" required />
              </div>

              <!-- Confirmar contraseña -->
              <div class="mb-4">
                <label class="form-label text-dark" for="confirmarContrasena">Confirmar Contraseña</label>
                <input type="password" id="confirmarContrasena" formControlName="confirmarContrasena" class="form-control" required />
              </div>

              <div *ngIf="passwordsDoNotMatch" class="alert alert-danger">
                Las contraseñas no coinciden.
              </div>


              <button type="submit" class="btn btn-primary btn-block mb-4">Registrarme</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
