<app-menu></app-menu>
<div class="container" id="container" style="width: 20%;  border-radius: 10px; margin-top: 20PX;">
  <h2 style="text-align: center;">Agregar Nuevo Socio</h2>
    <form (ngSubmit)="registrarNuevoSocio()"  style="max-width: 400px; margin: auto;">

      <!-- Nombre -->
      <div class="mb-4">
        <label class="form-label text-dark" for="nombre">Nombre</label>
        <input type="text" id="nombre" name="nombre" [(ngModel)]="nuevoSocio.nombre" class="form-control" />
      </div>

      <!-- Apellidos -->
      <div class="mb-4">
        <label class="form-label text-dark" for="apellidos">Apellidos</label>
        <input type="text" id="apellidos" name="apellidos" [(ngModel)]="nuevoSocio.apellidos" class="form-control" />
      </div>

      <!-- DNI -->
      <div class="mb-4">
        <label class="form-label text-dark" for="dni">DNI</label>
        <input type="text" id="dni" name="dni" [(ngModel)]="nuevoSocio.dni" class="form-control" />
      </div>

      <!-- Teléfono -->
      <div class="mb-4">
        <label class="form-label text-dark" for="telefono">Teléfono</label>
        <input type="text" id="telefono" name="telefono" [(ngModel)]="nuevoSocio.telefono" class="form-control" />
      </div>

      <!-- Email -->
      <div class="mb-4">
        <label class="form-label text-dark" for="email">Email</label>
        <input type="email" id="email" name="email" [(ngModel)]="nuevoSocio.email" class="form-control" />
      </div>

      <!-- Contraseña -->
      <div class="mb-4">
        <label class="form-label text-dark" for="password">Contraseña</label>
        <input type="password" id="password" name="password" [(ngModel)]="nuevoSocio.password" class="form-control" />
      </div>

      <!-- Confirmar contraseña -->
      <div class="mb-4">
        <label class="form-label text-dark" for="confirmarContrasena">Confirmar Contraseña:</label>
        <input type="password" id="confirmarContrasena" name="confirmarContrasena" [(ngModel)]="confirmarContrasena" class="form-control">
      </div>

      <div class="mb-4">
          <label class="form-label text-dark" for="permiso">Permiso</label>
          <select id="rol" name="rol" [(ngModel)]="nuevoSocio.rol" class="form-select">
            <option value="admin">Admin</option>
            <option value="basico">Básico</option>
          </select>
        </div>

      <div *ngIf="contrasenasCoinciden" class="alert alert-danger">{{errorContrasena}}</div>

      <!-- Botón de Registrar -->
      <button type="submit" class="btn btn-primary btn-block mb-4">
        Agregar
      </button>
    </form>
</div>
