<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pagina Barcos</title>
</head>

<body>
  <app-menu></app-menu>
  <div class="container">
    <h1 style="text-align: center;">Listado de Patrones</h1>
    <p-table [value]="listadoPatrones" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[5, 10, 20]"
      [tableStyle]="{'min-width': '50rem'}">
      <ng-template pTemplate="header">
        <button class="btn btn-primary" routerLink="/añadirPatron">Nuevo Patron</button>
        <tr>
          <th>
            Nombre Patron
            <p-columnFilter type="text" field="nombrePatron"></p-columnFilter>
          </th>
          <th>
            Dni Patron
            <p-columnFilter type="text" field="dniPatron"></p-columnFilter>
          </th>
          <th>
            Listado de salidas
          </th>
          <th>
            Acciones
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-patron>
        <tr>
          <td>{{patron.nombrePatron}}</td>
          <td>{{patron.dniPatron}}</td>
          <td>{{patron.listaSalida}}</td>
          <td>
            <button pButton pRipple  icon="pi pi-pencil" class="p-button-rounded p-button-warning" (click)="showDialog(patron)"></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>

  <p-dialog header="Modificar Patron" [(visible)]="displayModal" [responsive]="true" [style]="{ 'width': '500px' }" >
    <form>
      <!-- Numero de Matricula -->
      <div class="mb-3">
        <label for="numeroMatricula" class="form-label">Número de Matrícula</label>
        <input type="text" class="form-control" id="numeroMatricula" name="numeroMatricula"
          [(ngModel)]="patronSeleccionado.nombrePatron">
      </div>
      <!-- Nombre del Barco -->
      <div class="mb-3">
        <label for="nombreBarco" class="form-label">Nombre del Barco</label>
        <input type="text" class="form-control" id="nombreBarco" name="nombreBarco"
          [(ngModel)]="patronSeleccionado.dniPatron">
      </div>
      <!-- Botón de enviar -->
      <button type="button" class="btn btn-danger" (click)="displayModal = false">Cancelar</button>
      <button type="button" class="btn btn-primary" (click)="editarPatron()">Guardar cambios</button>
    </form>
  </p-dialog>


</body>

</html>