<app-menu></app-menu>
<div class="container" id="container" style="width: 20%;  border-radius: 10px; margin-top: 150px;">
    <h2 style="text-align: center;">Agregar Nuevo Patrón</h2>
    <form (submit)="agregarPatron()" style="max-width: 400px; margin: auto;">
        <!-- Nombre del Patrón -->
        <div class="mb-3">
            <label for="nombrePatron" class="form-label">Nombre del Patrón</label>
            <input type="text" class="form-control" id="nombrePatron" name="nombrePatron" [(ngModel)]="nuevoPatron.nombrePatron" required>
        </div>
        <!-- DNI del Patrón -->
        <div class="mb-3">
            <label for="dniPatron" class="form-label">DNI del Patrón</label>
            <input type="text" class="form-control" id="dniPatron" name="dniPatron" [(ngModel)]="nuevoPatron.dniPatron" required>
        </div>
        <!-- Botón de enviar -->
        <div style="text-align: center;">
            <button type="submit" class="btn btn-primary">Agregar Patrón</button>
        </div>
    </form>
</div>
