<app-menu></app-menu>
<div class="container" id="container" style="width: 20%;  border-radius: 10px; margin-top: 50PX;">
  <h2 style="text-align: center;">Perfil Socio</h2>
  <form method="post" style="max-width: 400px; margin: auto;">
    <div class="mb-3">
      <label for="nombre" class="form-label">Nombre</label>
      <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="socio.nombre"
        [readonly]="!modoEdicion">
    </div>
    <div class="mb-3">
      <label for="apellidos" class="form-label">Apellidos</label>
      <input type="text" class="form-control" id="apellidos" name="apellidos" [(ngModel)]="socio.apellidos"
        [readonly]="!modoEdicion">
    </div>
    <div class="mb-3">
      <label for="dni" class="form-label">DNI</label>
      <input type="text" class="form-control" id="dni" name="dni" [(ngModel)]="socio.dni" [readonly]="!modoEdicion">
    </div>
    <div class="mb-3">
      <label for="telefono" class="form-label">Teléfono</label>
      <input type="text" class="form-control" id="telefono" name="telefono" [(ngModel)]="socio.telefono"
        [readonly]="!modoEdicion">
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input type="email" class="form-control" id="email" name="email" [(ngModel)]="socio.email" readonly>
    </div>
    <div class="mb-3">
      <label for="rol" class="form-label">Rol</label>
      <input type="text" class="form-control" id="rol" name="rol" [(ngModel)]="socio.rol" readonly>
    </div>

    <button class="btn" [ngClass]="{'btn-danger': modoEdicion, 'btn-primary': !modoEdicion}" (click)="cambiarModoEdicion()">
      {{ modoEdicion ? 'Desactivar modo edición' : 'Activar modo edición' }}
    </button>

    &nbsp;&nbsp;&nbsp;

    <button class="btn btn-primary" *ngIf="modoEdicion" (click)="editarSocio()">Editar</button>

  </form>
</div>

<div class="form-group">
  <div class="form-group">
    <label for="title">Título:</label>
    <input type="text" class="form-control" [(ngModel)]="title" placeholder="Ingresa el título">
  </div>
  <div class="form-group">
    <label for="image">Seleccionar Imagen:</label>
    <input type="file" class="form-control" (change)="onFileSelected($event)">
  </div>
  <button class="btn btn-primary" (click)="onUpload()">Subir</button>

</div>
