<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina Barcos</title>
</head>
<body>
    <app-menu></app-menu>
    <div class="container">
        <h1 style="text-align: center;">Mis Barcos</h1>
        <table class="table table-striped table-bordered table-light">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Barco</th>
                <th scope="col">Matricula</th>
                <th scope="col">Numero Amarre</th>
                <th scope="col">Cuota</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let barco of misBarcos" >
                <td>{{barco.nombreBarco}}</td>
                <td>{{barco.numeroMatricula}}</td>
                <td>{{barco.numeroAmarre}}</td>
                <td>{{barco.cuotaMensual}}</td>
              </tr>
            </tbody>
          </table>
    </div>
</body>

</html>
